<% provide(:title, 'About') %>
<div class="row">
	<div class="small-12 columns">
		<h1>About me</h1> <!-- Make this bigger and more pronounced -->
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Education</h2>
		<!-- Check English resume what comes first? the most current one? --> 
		<h3>University of Ottawa</h3>
		<ul>
			<li>BASc in Software Engineering</li>
			<li>From 2012 - 2016 (Projected)</li>
		</ul>
	</div>

	<div class="small-12 columns">
		<!-- Look at how you worded your french diploma -->
		<h3>Charlottenburg D.H.S</h3>
		<ul>
			<li>French Immersion Diplomat</li>
			<li>From 2009 - 2012</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Programming Languages</h2>
		<ul>
			<li>Java</li>
			<li>XML</li>
			<li>HTML</li>
			<li>CSS</li>	
			<li>Ruby on Rails</li>
		</ul>
    </div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Work Experience</h2>
		<h3>VoIP Manager - Service Assurance and Development</h3>
		<ul>
			<li>Bell Canada</li>
			<li>From June 2014 - August 2014</li>
			<li>
				<address>
					1501 Bank St,
					Ottawa, ON
					K1H 7R1
				</address>
			</li>
		</ul>

		<h3>Kontron Mechanic</h3>
		<ul>
			<li>SimaPoint Technologies</li>
			<li>From May 2013 - August 2013</li>
			<li>
				<address>
					2901 Marleau Ave,
					Cornwall, ON
					K6H 6G5
				</address>
			</li>
		</ul>

		<h3>Drive-Thru</h3>
		<ul>
			<li>Tim Hortons</li>
			<li>From September 2010 - August 2012</li>
			<li>
				<address>
					20345 Cannon St,
					South Lancaster, ON
					K0C 2C0
				</address>
			</li>
		</ul>

		<h3>Entrepreneur</h3>
		<ul>
			<li>Freelance Lawn Care</li>
			<li>From April 2009 - August 2013</li>
			<li>
				<address>
					6237 Karen Dr,
					Bainsville, ON
					K1N 6E6	
				</address>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h2>Interests</h2>
		<!-- Might want to add clubs/associations section instead of mentionin SESA in here -->
		<p>
			When not working on school work, I spend my time working on side projects, playing video games, and exercising at the gym. During the winter I enjoy skating on the Rideau Canal, snowmobiling, as well as playing pickup Hockey at the local outdoor rink. During the summer I enjoy going fishing and water skiing on the Saint Lawrence River, and joy riding on my personal water craft. I'm an avid computer enthusiast, whom likes to stay up to date with the latest computer technology.   
		</p>
	</div>
</div>
