<div class="row">
	<div class="small-12 large-12 columns">
		<h1>About me</h1>
	</div>
</div>

	<!-- Here's where I'm going to add basically my online resume -->
	<!-- Might change as the site continues to mature -->
<div class="row">
	<div class="small-12 large-12 columns">
		<h2>Education</h2>
	</div>
</div>

<p>Currently in 3rd year of studies at the University of Ottawa.</p>

<div class="row">
	<div class="small-centered large-centered columns">
		<h2>Programming Languages</h2>
    </div>
</div>

<ul class="small-block-grid-2 large-block-grid-4">
	<li>Java</li>
	<li>XML</li>
	<li>HTML</li>
	<li>CSS</li>
	<li>Ruby on Rails</li>
</ul>

<div class="row">
	<div class="small-centered large-centered columns">
		<h2>Work Experience</h2>
	</div>
</div>
<p></p>
<div class="row">
	<div class="small-centered large-centered columns">
		<h2>Interests</h2>
	</div>
</div>
<p></p>