<% provide(:title, 'Contact') %>
<div class="row">
	<div class="small-12 columns">
		<h1>Contact</h1>
	</div>
	<div class="small-12 columns">
		<p>If you have any questions please don't hesitate to contact me at.</p>
		<p>Email: <%= mail_to "charle692@gmail.com", "charle692@gmail.com", :encode => "hex"%></p>
		<p>Phone: + 1 613 662 0530</p>
	</div>
</div>