<div class="row">
	<div class="small-12 columns">
		<h1>Contact</h1>
	</div>
</div>

<!-- Ugly not formatted yet-->
<p>If you have any questions please don't hesitate to contact me at <%= mail_to "charle692@gmail.com", "charle692@gmail.com", :encode => "hex" %>.</p>