<% provide(:title, 'Home') %>
<div class="row">
	<div class="small-12 columns">
		<h1>Ryan O'Connor</h1>
		<p>Hi, my name is Ryan O'Connor. I'm currently a 3rd year Software Engineering student at the University of Ottawa. I enjoy spending my time coding, working out at the gym and helping out other fellow students. I'm currently the VP Academic of the Software Engineering Student Association at the University of Ottawa. As VP Academic, I hold weekly study sessions where my team and I work together to help students with any questions they may have. I also contribute in organizing weekly Ruby on Rails Tutorials hosted by University of Ottawa alumni, <%= link_to 'Casey Li', "http://caseyli.com/", class: "links"%>.</p>
	</div>
</div>
