<h2>A Little About me</h2>
<p>
	Something about me that
	I will be putting in later. Need to mention Software Engineering Student Associations
</p>

<!-- Education -->
<!-- Center -->
<h2>Education</h2>

<!-- Float Left -->
<h3>University of Ottawa</h3>
<p class="date">September 2012 - Current</p>

<!-- Float Right -->
<p>
	My studies at the University of Ottawa have allowed me to develop strong design skills, by using requirements engineering techniques, analysis level diagrams and design level diagrams. I've also learned how to translate requirements and diagrams into a quality software system. Java has been used as the main programming language for learning, as well as HTML/CSS, SQL, and Ruby.
</p>

<!-- Float Left -->
<h3>Charlottenburg D.H.S.</h3>
<p class="date">September 2009 - June 2012</p>

<!-- Float Right -->
<p>
	I graduated from a small high school of about 300 people, where I earned my bilingualism certificate. In  11th grade, I decided to take a programming course where we learned the beginnings of Visual Basic. I loved programming so much that I decided to continue with programming taking a 12th grade Java programming course which was the deciding factor in pursuing Software Engineering as a post secondary study. 
</p>


<!-- Experience -->
<!-- Center -->
<h2>Experience</h2>

<!-- Float Left -->
<h3>Bell Canada</h3>
<p class="date">June 2014 - August 2014</p>

<!-- Float Right -->
<p>
	At Bell Canada I  provided quality assurance for Bell's VoIP platform. I aided customers with validation testing, and verified that their results were as expected by analyzing SIP traces using Wireshark. I was also part of testing for new version releases and aided with diagnosing system outages. During my time working at Bell Canada I implemented a call forwarding feature on FreeSwitch for internal release testing.
</p>

<!-- Float Left -->
<h3>SigmaPoint Technologies</h3>
<p class="time">May 2013 - August 2013</p>

<!-- Float Right -->
<p>
	SigmaPoint Technologies is an electronics manufacturer where I worked as a Kontron mechanic. I assembled CompactPCI boards and server boards. I worked under the Toyota Production System, used by SigmaPoint to provide quality products in a fast and efficient manner all while reducing waste.
</p>

<!-- Float Left -->
<h3>Tim Hortons</h3>
<p class="time">September 2010 - August 2012</p>

<!-- Float Right -->
<p>
	While working at Tim Hortons, I was part of the drive-through team providing customers with fast quality service. I dealt with any customer concerns that came to my attention as professionally as possible. At Tim Hortons I developed strong communication skills as my primary function was taking drive-through orders.
</p>


<!-- Skills -->
<!-- Center -->
<h2>Skills</h2>
<table>
	<thead>
		<tr>
			<th>Skill</th>
			<th>Experience</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Java</td>
			<td>4 years</td>
		</tr>
		<tr>
			<td>HTML/CSS</td>
			<td>1 year</td>
		</tr>
		<tr>
			<td>Ruby</td>
			<td>1 year</td>
		</tr>
		<tr>
			<td>PostrgreSQL</td>
			<td>5 months</td>
		</tr>
		<tr>
			<td>Go</td>
			<td>1 month</td>
		</tr>
		<tr>
			<td>Ruby on Rails</td>
			<td>1 year</td>
		</tr>
		<tr>
			<td>Foundation</td>
			<td>5 months</td>
		</tr>
		<tr>
			<td>Bootstrap</td>
			<td>5 months</td>
		</tr>
		<tr>
			<td>Java EE</td>
			<td>4 months</td>
		</tr>
		<tr>
			<td>VoIP</td>
			<td>3 months</td>
		</tr>
		<tr>
			<td>SIP</td>
			<td>3 months</td>
		</tr>
		<tr>
			<td>Computer Servicing</td>
			<td>2 years</td>
		</tr>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>Tools</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Eclipse</td>
		</tr>
		<tr>
			<td>Netbeans</td>
		</tr>
		<tr>
			<td>Git</td>
		</tr>
		<tr>
			<td>Android SDK</td>
		</tr>
		<tr>
			<td>Linux</td>
		</tr>
		<tr>
			<td>Wireshark</td>
		</tr>
		<tr>
			<td>FreeSwitch</td>
		</tr>
	</tbody>
</table>

<h2>Projects</h2>
<h3>Property Rental System</h3>
<p></p>

<h3>Binary Converter</h3>
<p></p>
