/* Footer */

footer {
  background: hsl(197, 3%, 22%);
}

#social_media {
  padding: 5px 0 5px;
}


/* Social Media Logos */

.logo_images {
  margin-top: 4px;
  padding-top: 10px;
  width : 40px;
  height: auto;
  padding-bottom: 10px;
}

#twitter {
  margin-top: 10px;
}

#mail {
  margin-top: 10px;
}

/* Contact */

ul {
  list-style-type: none;
  li {
    color: hsl(197, 0%, 87%);
  }
}

#contact {
  color: hsl(0, 0%, 98%);

  @media screen and (min-width: 641px) {
    position: relative;
    left: 9%;
  }

  span {
    position: relative;
    top: 4.5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.8rem;

    @media screen and (max-width: 640px) {
      font-size: 1.8rem;
      position: relative;
      top: 10px;
    }

    a {
      color: #fff;
    }
  }
}
