/* Footer */
footer {
  background-color: #27303E;
}

footer .columns {
	padding: 0;
	width: 80px;
	line-height: 50px;
	height: 50px;
	text-align: center;
}

/* Social Media Logos */
.logo_images {
  width : 40px;
  height: auto;
}

/* Contact */
#contact {
	color: white;
	margin: 0 auto;
}

p, h4 {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
}

