/* Footer */

footer {
  background: hsl(197, 32%, 29%);
}

#social_media {
  padding: 5px 0 5px;
}



/* Social Media Logos */

.logo_images {
  margin-top: 4px;
  padding-top: 10px;
  width : 40px;
  height: auto;
  padding-bottom: 10px;
}

#twitter {
  margin-top: 10px;
}

#mail {
  margin-top: 14px;
}

/* Contact */

ul {
  list-style-type: none;
  li {
    color: hsl(197, 0%, 87%);
  }
}

#contact {
  color: hsl(0, 0%, 98%);
}

