/* System Wide */

body {
	background-color: #F9F9F9;
}

h1, h2, li, tr {
	color: hsl(197, 32%, 29%);
}

h3 {
	color: hsl(197, 32%, 29%);
}

tr {
	height: 59px;
}

.subtitle {
	margin-top: 20px;
	margin-bottom: 45px;
}

strong {
	text-rendering: optimizeLegibility;
}

//Medium View
@media screen and (min-width: 641px){
	.paragraph {
		margin-top: 20px;	
	}

	.project_image {
		height: 250px; 
		width: auto;
	}

	.project_header {
		margin-top: -8px; 
	}
}

@media (min-width: 641px) {
    #beary_small {
        display: none;
    }
}

// Small View
@media screen and (max-width: 640px) {
	.project_image {
		height: auto; 
		width: 300px;
	} 
}

@media (max-width: 640px) {
    #beary_med {
        display: none;
    }
}



/* About */

#about_text {
	color: #F9F9F9;
}

#about_header {
	margin-top: 10px;
	color: #F9F9F9;
}



/* Skills */

.icon {
	width: 30px;
}

.icon2 {
	width: 50px;
}

.skill_logo {
	width: 30px;
	height: auto;
}

#freeswitch {
	width: 50px;
	height: auto;
}



/* Projects */

#binary_converter {
	margin-top: 50px;
}



/* Containers */

//For large and medium view
#education, #experience, #skills, #projects {
	padding: 30px 0 10px;
}

#about {
	background: hsl(197, 32%, 29%);
	// background-image: image-url("terminal-gif.gif");
	background-repeat: no-repeat;
	padding: 35px 0 25px;
}

#education {
	background: hsl(197, 0%, 95%);
}

#experience {
	background: hsl(197, 0%, 87%);
	p, strong, small{
		color: #222222;
	}
}

#skills {
	background: hsl(197, 0%, 95%);
	td {
		color: #222222;
	}
}

#projects {
	background: hsl(197, 0%, 87%);
}

.date {
	font-size: 14px;
	margin-top: -10px;
	margin-bottom: 5px;
}

