/* System Wide */

body {
	background-color: hsl(0, 0%, 98%);
}

h1, h2, li, tr {
	color: hsl(197, 32%, 29%);
}

h3 {
	color: hsl(197, 32%, 29%);
}

tr {
	height: 59px;
}

.subtitle {
	margin-top: 20px;
	margin-bottom: 45px;
}

strong {
	text-rendering: optimizeLegibility;
}

//Medium View
@media screen and (min-width: 641px){
	#profile_picture {
		margin-top: 45px;
	}

	.paragraph {
		margin-top: 20px;
	}

	.project_header {
		margin-top: -8px;
	}

	#binary_converter {
		margin-top: 60px;
	}

	#education, #experience, #skills, #projects {
		padding: 30px 0 30px;
	}

	#about {
		padding: 30px 0 30px;
	}

	#about_header {
		margin-left: -8px;
	}
}


// Small View
@media screen and (max-width: 640px) {
	.paragraph {
		margin-top: 10px;
	}

	#binary_converter {
		margin-top: 50px;

		#binary_screens {
			margin-bottom: 20px;
		}
	}

	#education, #experience, #skills, #projects {
		padding: 30px 0 0;
	}

	#about {
		padding: 35px 0 0;
	}

	#about_header {
		margin-top: 20px;
	}
}


/* About */

.about_text {
	color: hsl(0, 0%, 98%);
}

#about_header {
	color: hsl(0, 0%, 98%);
}


/* Skills */

.icon {
	width: 30px;
}

.icon2 {
	width: 50px;
}

.skill_logo {
	width: 30px;
	height: auto;
}

#freeswitch {
	width: 50px;
	height: auto;
}



/* Projects */

#binary_converter {
	margin-top: 60px;
}

.project_image {
	height: auto;
	width: 400px;
}



/* Containers */

#about {
	background: hsl(197, 32%, 29%);
}

#education {
	background: hsl(197, 0%, 95%);
}

#experience {
	background: hsl(197, 0%, 87%);
	p, strong, small{
		color: #222222;
	}
}

#skills {
	background: hsl(197, 0%, 95%);
	td {
		color: #222222;
	}
}

#projects {
	background: hsl(197, 0%, 87%);
}

.date {
	font-size: 14px;
	margin-top: -10px;
	margin-bottom: 5px;
}
