<footer>
  <div class="row">
    <div class="text-center" id="contact">
      <h3 id="contact_header">Contact</h3>
      <ul>
        <li>Email: <%= mail_to "charle692@gmail.com", "charle692@gmail.com", :encode => "hex"%></li>
        <li>Phone #: (613) 662-0530</li>
      </ul>
    </div>

    <div class="small-2 small-push-2 medium-2 medium-push-7 columns">
      <%= link_to image_tag("Social_1.png", class: "logo_images", alt: 'Social Media'), "https://www.linkedin.com/pub/ryan-o-connor/90/abb/a58" %>
    </div>

    <div class="small-2 small-push-5 medium-2 medium-push-3 columns">
      <%= link_to image_tag('Social_2.png', class: "logo_images", alt: 'Social Media'), "https://twitter.com/OC_Ryn/" %>
    </div>

    <div class="small-2 small-centered medium-2 columns">
      <%= link_to image_tag('GitHub.png', class: "logo_images", alt: 'GitHub Logo'), "https://github.com/charle692/" %>
    </div>
  </div>
</footer>
