<footer>
  <div class="row">
    <!-- Github Account -->
    <div class="columns small-2 push-4">
      <%= link_to image_tag('GitHub-Mark-Light-120px-plus.png', class: "logo_images", alt: 'GitHub Logo'), "https://github.com/charle692/" %>
    </div>

    <!-- Twitter Account -->
    <div class="columns small-2 push-6">
      <%= link_to image_tag('Twitter.png', class: "logo_images", alt: 'Twitter Logo'), "https://twitter.com/OC_Ryn/" %>
    </div>

    <!-- LinkedIn Account -->
    <div class="columns small-2 small-centered">
      <%= link_to image_tag("LinkedIn-InBug-2CRev.png", class: "logo_images", alt: 'LinkedIn Logo'), "https://www.linkedin.com/pub/ryan-o-connor/90/abb/a58" %>
    </div>
  </div>
</footer>
